body{
    margin: 0 auto;
    background-color: #fff;
    color: #0b15ac;
    font-family: 'Times New Roman', Times, serif, Georgia, 'Times New Roman', Times, serif;
    margin:0 auto;
    padding: 0 AUTO;
    font-size: large;
}
div.main{
    background-color: #e1dede;
    min-height: 70px;
    width: 60%;
    margin: 0 auto;
    border: 3px solid #000000;
    border-radius:#ffff;
    padding:0 auto;
}
header{
    background-color: #fb7373;
    min-height: 70px;
    margin: 0 auto;
    border: 3px solid #970000;
    border-radius: 5px;
    width: 60%;
}
div.menu{
    background-color: #1c8d48; 
    min-height: 40px;
    margin: 0 auto;
    border: 3px solid #970000;
    border-radius: 5px;
    padding: 0 auto;
    width: 60%;
    font-size: large;

}
main{
    background-color: #9b9494;
    min-height: 500px;
    margin: 0 auto;
    padding: 0 AUTO;
    border: 3px solid #970000;
    border-radius: 5px;
    width: 60%;
    font-size: large;
}
footer{
    background-color: #e2eeb2;
    min-height: 50px;
    margin: 0 AUTO;
    padding: 0 AUTO;
    border: 3px solid #970000;
    border-radius: #f8f8f8;
    width: 60%;
        font-size: large;

}
header h1 {
    text-align: center;
}
div.Menu {
    text-align: center;
}

main h3 {
        text-align: center;
}
footer h4 {
        text-align: center;
}
	